body {
    margin: 0;
    background-color: #ed9688
}

body, h1 {
    font-size: medium;
}

h3 {
    font-size: small;
    font-weight: normal;
}

h4 {
    font-size: small;
    font-weight: normal;
}
main, header {
    margin: 1em;
}

body, h2 {
    font-size: small;
    font-weight: normal;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 3px;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

.iconen {
    animation-name: zoomIn;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

header div {
    display: flex;
    justify-items: flex-end;
}

/*bounce animatie*/
@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.waslijn {
    animation-name: slideIn;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/*slideIn animatie*/
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

section, p {
    padding: 15px;
    border: 7px solid rgba(225, 98, 98, 0.864);
}

.outfits div {
    display: flex;
    justify-content: space-around;
}

.outfits section>div {
    margin: 1em;
}

.outfits div div {
    display: flex;
    flex-direction: column;
}

.outfits div img {
    width: 8em;
}

.outfits {
    background-color: rgb(100, 100, 234);
}

.duurzaamheid div {
    display: flex;
    justify-content: flex-end;
}

.duurzaamheid div {
    display: flex;
    flex-direction: column;
}

.duurzaamheid {
    background-color: rgb(193, 193, 65);
}

main h3 {
    display: flex;
    justify-content: space-between;
}

header div {
   display: flex;
   gap: 12px; /* ruimte tussen foto's */
}

.buttons {
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

/*rotate animatie*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}